h1 {
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    color: hsl(0, 0%, 30%);
    background-color: hsla(0, 0%, 100%, .5);
}

header {
    background-image: url('./images/rptbg.webp');
    background-size: 20%;
    height: 240px;        
}

figure {
    background-image: url('./images/hulk.jpg');
    height: calc(100% - 16px * 280 / 100);
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: top center;
}
